Repository rh-ecosystem-edge/console-plugin-nvidia-gpu, pull requests merged in 2022-02, with the labels that each got.

#8 Add GPU utilization chart
  console-extensions.json
  src/components/GPUStatus.tsx
  src/utils/cluster-overview.ts
Labels: approved, lgtm

#9 Rename plugin to console-plugin-nvidia-gpu
  README.md
  console-extensions.json
  locales/en/plugin__console-plugin-nvidia-gpu.json
  oc-manifest.yaml
  package.json
  src/components/GPUClusterInventory.tsx
  src/components/GPUStatus.tsx
  src/i18n.ts
Labels: approved, lgtm

#10 Add Helm chart
  .github/workflows/helm-lint-test.yaml
  .github/workflows/sync-readme.yaml
  README.md
  deployment/console-plugin-nvidia-gpu/.helmignore
  deployment/console-plugin-nvidia-gpu/Chart.yaml
  deployment/console-plugin-nvidia-gpu/README.md
  deployment/console-plugin-nvidia-gpu/templates/NOTES.txt
  deployment/console-plugin-nvidia-gpu/templates/_helpers.tpl
  deployment/console-plugin-nvidia-gpu/templates/consoleplugin.yaml
  deployment/console-plugin-nvidia-gpu/templates/deployment.yaml
  deployment/console-plugin-nvidia-gpu/templates/service.yaml
  deployment/console-plugin-nvidia-gpu/templates/tests/test-plugin-service.yaml
  deployment/console-plugin-nvidia-gpu/values.yaml
  deployment/ct.yaml
  deployment/hack/crds/consoleplugin.customresourcedefinition.yaml
Labels: approved, lgtm, ok-to-test

#11 Setup GitHub pages Helm repository
  .eslintrc
  .github/workflows/helm-lint-test.yaml
  .github/workflows/sync-readme.yaml
  .gitignore
  .prettierignore
  .prettierrc.yaml
  .vscode/settings.json
  Dockerfile
  OWNERS
  README.md
  console-extensions.json
  console-plugin-nvidia-gpu-0.1.0.tgz
  default.conf
  deployment/console-plugin-nvidia-gpu/.helmignore
  deployment/console-plugin-nvidia-gpu/Chart.yaml
  deployment/console-plugin-nvidia-gpu/README.md
  deployment/console-plugin-nvidia-gpu/templates/NOTES.txt
  deployment/console-plugin-nvidia-gpu/templates/_helpers.tpl
  deployment/console-plugin-nvidia-gpu/templates/consoleplugin.yaml
  deployment/console-plugin-nvidia-gpu/templates/deployment.yaml
  deployment/console-plugin-nvidia-gpu/templates/service.yaml
  deployment/console-plugin-nvidia-gpu/templates/tests/test-plugin-service.yaml
  deployment/console-plugin-nvidia-gpu/values.yaml
  deployment/ct.yaml
  deployment/hack/crds/consoleplugin.customresourcedefinition.yaml
  i18next-parser.config.js
  index.yaml
  locales/en/plugin__console-plugin-nvidia-gpu.json
  oc-manifest.yaml
  package.json
  src/components/GPUClusterInventory.tsx
  src/components/GPUStatus.tsx
  src/i18n.ts
  src/utils/cluster-overview.ts
  tsconfig.json
  webpack.config.ts
  yarn.lock
Labels: approved, lgtm, needs-ok-to-test
